/**
 * -----------------------------------------------------------------------------
 *   $BLOCKQUOTE
 * -----------------------------------------------------------------------------
 */

blockquote {
    background-color: $brand-color;
    color: $color-white;
    font-style: italic;
    margin-bottom: $base-spacing-unit;
}
