/**
 * -----------------------------------------------------------------------------
 *   $LINKS
 * -----------------------------------------------------------------------------
 */

a {
    border-bottom: 2px solid $brand-color;
    text-decoration: none;

    &:hover {
        color: $brand-color;
    }
}
