/**
 * -----------------------------------------------------------------------------
 *   $LINKS
 * -----------------------------------------------------------------------------
 */

a {
    border-bottom: 2px solid $brand-color;
    color: $default-font-color;
    text-decoration: none;

    &:hover {
        color: $brand-color;
    }
}

.link-unstyled {
    border-bottom: 0;
}

.link-brand {
    border-bottom: 0;
    color: $brand-color-dark;
}
