/**
 * -----------------------------------------------------------------------------
 *   $BODY
 * -----------------------------------------------------------------------------
 */

.content-body {
    padding: 0 4%;

    img, pre, blockquote {
        display: block;

        margin: 0 -4% $base-spacing-unit-px -4%;
        margin: 0 -4% $base-spacing-unit-rem -4%;
    }

    img {
        max-width: none;
        width: 108%;
    }

    pre {
        background-color: $color-lightest;

        border: 1px solid $color-light;
        border-right: 0;
        border-left: 0;

        font-size: $text-smallest;
        line-height: 1.4;

        padding: $base-spacing-unit 4%;

        word-wrap: break-word;

        /**
         * 1. Due to Ghost automatically adding anchor tags for URLs ensure that
         *    the link doesn't appear as a regular link.
         * 2. Disables the hyper link from being clickable.
         *    Source: http://stackoverflow.com/questions/2091168/disable-a-link-using-css
         */
        a {
            border-bottom: 0; /* 1 */
            cursor: default; /* 2 */
            pointer-events: none; /* 2 */
        }
    }

    ul {
        list-style: disc;
        margin: $half-base-spacing-unit 0;
        padding-left: $base-spacing-unit * 2;
        padding-right: $base-spacing-unit;

        > li {
            margin-bottom: $half-base-spacing-unit;
        }
    }

    blockquote {
        padding: $base-spacing-unit 4%;

        p:last-child {
            margin-bottom: 0;
        }
    }
}
