/**
 * -----------------------------------------------------------------------------
 *   $FOOTER
 * -----------------------------------------------------------------------------
 */

.footer {
    @include box-shadow(0, 3px, 6px, 4px, $color-shadow);

    background-color: $color-dark;
    color: $color-white;
    margin-top: $base-spacing-unit;
    padding: $base-spacing-unit * 5 0;

    a {
        border-bottom: 1px solid $color-white;
        color: $color-white;

        &:hover,
        &:focus {
            border-bottom: 1px solid $color-light;
            color: $color-light;
        }
    }
}

.footer-social a {
    border-bottom: 0;

    &:hover,
    &:focus {
        border-bottom: 0;
    }
}
