/**
 * -----------------------------------------------------------------------------
 *   $FOOTER
 * -----------------------------------------------------------------------------
 */

.footer {
    @include box-shadow(0, 3px, 6px, 4px, $color-shadow);

    background-color: $color-dark;
    color: $color-soft;
    margin-top: $base-spacing-unit;
    padding: $base-spacing-unit * 5 0;

    a {
        border-bottom: 1px solid $color-soft;
        color: $color-soft;

        &:hover {
            border-bottom: 1px solid $color-light;
            color: $color-light;
        }
    }
}

.footer-social > a {
    @include inline-block();
    border-bottom: 0;
    margin: 0 $half-base-spacing-unit / 2;
    margin-bottom: $half-base-spacing-unit;

    &:hover {
        border-bottom: 0;
    }
}
