/**
 * -----------------------------------------------------------------------------
 *   $HEADER
 * -----------------------------------------------------------------------------
 */

.header {
    @include box-sizing();
    @include radial-gradient($brand-color, $brand-color-dark);

    color: $color-white;
    display: table;
    height: 80%;
    margin-bottom: $base-spacing-unit;
    padding: $base-spacing-unit;
    width: 100%;
}

.header-title {
    font-size: $text-large;
}

.header-logo {
    @include border-radius($logo-size / 2);

    border: 2px solid $brand-color-dark;
    margin-bottom: $base-spacing-unit;
    max-width: $logo-size;
}
