/**
 * -----------------------------------------------------------------------------
 *   $ICONS
 * -----------------------------------------------------------------------------
 */

@font-face {
    font-family: 'icons';
    src:url('../icons/icons.eot');
    src:url('../icons/icons.eot?#iefix') format('embedded-opentype'),
        url('../icons/icons.woff') format('woff'),
        url('../icons/icons.ttf') format('truetype'),
        url('../icons/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    border-bottom: 0;
    font-family: 'icons';
    font-size: $icon-font-size;
    line-height: 1;
    text-decoration: none;
    speak: none;
}

/**
 * before pseudo & content attribute aren't supported by the browser. Fallback is
 * to show the hidden text to the user.
 */
.no-generatedcontent .icon,
.no-generatedcontent .icon .ir  {
    color: $color-white;
    font-family: $body-font-family;
    font-size: 1em;
    line-height: 1;
}

.icon-twitter:before { content: "\e603"; }
.icon-facebook:before { content: "\e604"; }
.icon-github:before { content: "\e605"; }
.icon-rss:before { content: "\e606"; }
.icon-linkedin:before { content: "\e607"; }
.icon-google-plus:before { content: "\e608"; }
.icon-envelope:before { content: "\e60a"; }
