/**
 * -----------------------------------------------------------------------------
 *   $POSTS
 * -----------------------------------------------------------------------------
 */

.post-list .post-meta {
    margin-bottom: $half-base-spacing-unit;
}

.post-meta {
    color: $color-soft;
    font-size: $text-small;
    margin-bottom: $base-spacing-unit;
    padding: 0 4%;
}

.post-title {
    padding: 0 4%;
}
