/**
 * -----------------------------------------------------------------------------
 *   $POSTS
 * -----------------------------------------------------------------------------
 */

.post-list {
    margin: 0 auto;
    max-width: $content-max-width;

    .post-meta {
        margin-bottom: $half-base-spacing-unit;
    }

    /**
     * Positions the post publish date alongside the title.
     */
    @media all and (min-width: $bp-inline-post-meta) {
        > li {
            margin-bottom: $half-base-spacing-unit;
        }

        /**
         * 1. Calculated by: 140 / 16. Also added extra ems to take into account
         *    the smaller font size.
         */
        .post-meta {
            float: left;
            margin-right: $base-spacing-unit * 2;
            line-height: 2.2;
            padding: 0;
            text-align: right;
            width: 10em /* 1 */
        }

        /**
         * 1. Content should fill the remaining content width taking into account
         *    the width of the meta section & the spacing between.
         */
        .post-title {
            float: left;
            margin-bottom: $half-base-spacing-unit;
            padding: 0;
            width: $content-max-width - 16.5em; /* 1 */

            a {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
            }
        }
    }
}

.post-meta,
.post-tags {
    color: $color-soft;
    font-size: $text-small;
    margin-bottom: $base-spacing-unit;
    padding: 0 4%;
}

.post-title {
    padding: 0 4%;
}

.the-post {
    padding-top: $base-spacing-unit;

    .post-meta,
    .post-tags {
        text-align: center;
    }

    /**
     * Post tags aren't visible but if desired can be toggled below.
     */
    .post-tags {
        display: none;
    }

    .post-title {
        margin-left: auto;
        margin-right: auto;
        max-width: $content-max-width-rem;
        max-width: $content-max-width-px;
        text-align: center;

        @media all and (min-width: $content-max-width) {
            font-size: 3.4em;
            margin-bottom: $half-base-spacing-unit / 2;
            padding: 0;
        }
    }
}
