/**
 * -----------------------------------------------------------------------------
 *   $BROWSER
 * -----------------------------------------------------------------------------
 */

/**
 * Cross browser styles for rounded corners.
 *
 * 1. http://code-tricks.com/border-radius-for-ie7-using-css3-pie/
 * 2. -webkit prefix is required for very old browser. Source: http://caniuse.com/border-radius
 */
@mixin border-radius($radius) {
    behavior:  url(/assets/css/PIE.htc); /* 1 */
    -webkit-border-radius: $radius; /* 2 */
            border-radius: $radius;
    position: relative;
}

/**
 * Cross browser styles for box-shadow.
 * Source: http://caniuse.com/css-boxshadow
 */
@mixin box-shadow($h, $v, $b, $s, $color) {
    -webkit-box-shadow: $h $v $b $s $color;
       -moz-box-shadow: $h $v $b $s $color;
           -box-shadow: $h $v $b $s $color;
}

/**
 * Cross browser styles for box-sizing attribute that instructs element to include
 * the padding as part of the width calculation.
 * Source: http://caniuse.com/css3-boxsizing
 */
@mixin box-sizing() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/**
 * Cross browser implementation of inline-block that works in IE 7 & 8.
 */
@mixin inline-block() {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
