/**
 * -----------------------------------------------------------------------------
 *   $RESET
 * -----------------------------------------------------------------------------
 */

/**
 * Remove default margin & padding, these can be defined elsewhere.
 */

h1,h2,h3,h4,h5,h6,
p,blockquote,pre,
dl,dd,ol,ul,
form,fieldset,legend,
table,th,td,caption {
    margin:0;
    padding:0;
}
