/**
 * -----------------------------------------------------------------------------
 *   $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * All spacing (margin, padding) should be based of this value.
 */

$base-spacing-unit: 1em;
$half-base-spacing-unit: $base-spacing-unit / 2;

/**
 * Primary colour for the blog.
 */

$brand-color: #66bc4b;
$brand-color-darker: darken($brand-color, 7.5%);

/**
 * Default font styles.
 */

$default-font-color: #333;

/**
 * Typography settings.
 */

$default-line-height: 1.4;
