/**
 * -----------------------------------------------------------------------------
 *   $VARS
 * -----------------------------------------------------------------------------
 */

/**
 * All spacing (margin, padding) should be based of this value.
 */

$base-spacing-unit: 1em;
$base-spacing-unit-rem: 1rem;
$base-spacing-unit-px: 16px;

$half-base-spacing-unit: $base-spacing-unit / 2;

/**
 * Primary colour for the blog.
 */

$brand-color: #66bc4b;
$brand-color-dark: darken($brand-color, 7.5%);

/**
 * Font styles.
 */

$default-font-color: #333;

$heading-font-family: 'Lato', serif;
$body-font-family: 'Open Sans', sans-serif;

/**
 * Typography settings.
 */

$default-line-height: 1.6;

/**
 * Colour palette.
 */

$color-lightest: #ebebeb;
$color-light: #dedede;
$color-soft: #969696;
$color-white: #fcfcfc;

/**
 * Different sizes for text.
 */

$text-smallest: 0.8em;
$text-small: 0.9em;
$text-large: 3.2em;

/**
 * Logo dimensions.
 */

$logo-size: 6.8em;

/**
 * Maximum width of content.
 */
$content-max-width: 46em;

/**
 * Media breakpoints.
 */

/**
 * Date of a post is displayed alongside the title.
 */
$bp-inline-post-meta: 48em;
